.tox-notifications-container {
    display: none;
}

#mainContainer {
    margin-top: 100px;
}

.main_wrapper {
    min-height: 100vh;
}

.box_login_msg {
    background: rgb(241, 241, 241);
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    position: absolute;
    right: 0;
    position: fixed;
    z-index: -1;
}

.content_article_box {
    max-height: 30vh;
    overflow: hidden;
    overflow-y: auto;
}

.carousel {
    transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -ms-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
}

#carouselHomeInner {
    height: 85vh;
}

.jumbotron {
    padding: 1rem 2rem;
    margin-bottom: 0px;
}

.modal_btn {
    border: 1px solid grey;
    padding: 6px 8px;
    font-size: 12px;
    letter-spacing: 1px;
}
